includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    phpVersion: 80400
    parallel:
        maximumNumberOfProcesses: 1
    memory_limit: 1G
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
