includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    phpVersion: 80400
    parallel:
        maximumNumberOfProcesses: 1
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
